[project]
	description = A better console dictionary, using redis to store wordlist(Least-Frequently Used cache algorithm)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Feng,Li (vonnyfly)
[access "refs/for/refs/*"]
	read = group user/Feng,Li (vonnyfly)
	push = group user/Feng,Li (vonnyfly)
	label-Code-Review = -2..+2 group user/Feng,Li (vonnyfly)
	label-Verified = -1..+1 group user/Feng,Li (vonnyfly)
	rebase = group user/Feng,Li (vonnyfly)
	removeReviewer = group user/Feng,Li (vonnyfly)
	submit = group user/Feng,Li (vonnyfly)
[access "refs/heads/*"]
	read = group user/Feng,Li (vonnyfly)
	create = group user/Feng,Li (vonnyfly)
	push = +force group user/Feng,Li (vonnyfly)
	pushMerge = group user/Feng,Li (vonnyfly)
[access "refs/tags/*"]
	push = group user/Feng,Li (vonnyfly)
	push = +force group user/Feng,Li (vonnyfly)
